In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
!pip install holidays

Collecting holidays
  Using cached holidays-0.32-py3-none-any.whl (754 kB)
Requirement already satisfied: python-dateutil in c:\users\rashad\anaconda3\envs\dojo-env\lib\site-packages (from holidays) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rashad\anaconda3\envs\dojo-env\lib\site-packages (from python-dateutil->holidays) (1.16.0)
Installing collected packages: holidays
Successfully installed holidays-0.32

In [10]:
import holidays
import datetime as dt
from holidays import country_holidays

# The below dataset represents crimes that happened in Chicago for the year 2020.

In [2]:
df = pd.read_csv('/Users/Rashad/Documents/GitHub/CORE_Project-4_Part_1/Data/the_stuffChicago-Crime_2020.csv')
df.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,11939526,01/01/2020 01:00:00 AM,THEFT,FROM BUILDING,HOTEL/MOTEL,False,False,123,1.0,4.0,41.872709,-87.624188
1,11957916,01/01/2020 01:00:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,2221,22.0,21.0,41.731514,-87.661723
2,12001908,01/01/2020 01:00:00 AM,OFFENSE INVOLVING CHILDREN,OTHER OFFENSE,RESIDENCE,False,True,2232,22.0,34.0,41.709028,-87.654061
3,11944113,01/01/2020 01:00:00 PM,CRIMINAL DAMAGE,TO STATE SUP PROP,ALLEY,False,False,1532,15.0,37.0,41.892236,-87.749273
4,11939609,01/01/2020 01:00:00 AM,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,1634,16.0,31.0,41.939638,-87.754883

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212204 entries, 0 to 212203
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    212204 non-null  int64
 1   Date                  212204 non-null  object
 2   Primary Type          212204 non-null  object
 3   Description           212204 non-null  object
 4   Location Description  210537 non-null  object
 5   Arrest                212204 non-null  bool
 6   Domestic              212204 non-null  bool
 7   Beat                  212204 non-null  int64
 8   District              212204 non-null  float64
 9   Ward                  212195 non-null  float64
 10  Latitude              207951 non-null  float64
 11  Longitude             207951 non-null  float64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 16.6+ MB

In [11]:
df['Location Description'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
212199    False
212200    False
212201    False
212202    False
212203    False
Name: Location Description, Length: 212204, dtype: bool